.container {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(28, 25, 25, 0.9);
}

.modal {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  width: 350px;
  border: 1px solid var(--green);
  border-radius: 0.5rem;
  background-color: rgb(34, 37, 28);
  display: flex;
  flex-direction: column;
}

.common {
  color: var(--white50);
}

.modal > p:not(:first-of-type) {
  padding-top: 1rem;
}

.closeButton {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: inherit;
  transform: translateY(-100%);
  cursor: pointer;
  background: transparent;
}
