.container {
  align-self: center;
  margin: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  text-align: center;
}

.cell,
.initialQuestion {
  border: 1px dashed var(--green);
  background-color: var(--green10);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  position: relative;
}

.initialQuestion {
  grid-column: span 2;
}

.cell::after {
  position: absolute;
  content: "";
  height: 2rem;
  top: -2rem;
  left: 50%;
  border-left: 1px dashed var(--green);
}

.column {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 2rem;
}

.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}
