*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --white: hsla(0, 0%, 100%, 1);
  --white50: hsla(0, 0%, 100%, 0.5);
  --black: hsla(0, 0%, 15%, 1);
  --darkBlack: hsl(0, 0%, 14%);
  --black50: hsla(0, 0%, 15%, 0.5);
  --black10: hsla(0, 0%, 15%, 0.1);
  --green: hsla(133, 57%, 64%);
  --green20: hsla(133, 57%, 64%, 0.2);
  --green10: hsla(133, 57%, 64%, 0.1);
  --lightYellow: hsl(61, 67%, 87%);
  --pink: hsl(340, 57%, 64%);
}

body {
  background-color: var(--black);
  color: var(--white);
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1.25rem;
}

button {
  padding: 0;
}

@media (min-width: 35rem) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
