.form {
  max-width: 640px;
}
.form,
.formGroupsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submitButton {
  align-self: flex-start;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 540px) {
  .formGroupsContainer {
    flex-direction: row;
  }

  .formGroupsContainer > .formGroup {
    flex-basis: 50%;
  }
}
